<div class="student-list-container">
  <div class="header">
    <h2>Gestion des élèves</h2>
    <div class="filters">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Rechercher par nom ou matricule..."
      />

      <select [(ngModel)]="selectedStatus">
        <option value="">Tous les matricules</option>
        <option *ngFor="let mt of matricules" value="{{ mt }}">{{ mt }}</option>
      </select>

      <select [(ngModel)]="selectedClass">
        <option value="">Toutes les classes</option>
        <option *ngFor="let c of classes" [value]="c.nom">{{ c.nom }}</option>
      </select>
    </div>
    <button id="add-btn" (click)="openModal()">+ Ajouter un élève</button>
  </div>

  <table class="student-table">
    <thead>
      <tr>
        <th>Matricule</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Sexe</th>
        <th>Classe</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of paginatedStudents; let i = index">
        <td>{{ student.numero_etudiant }}</td>
        <td>{{ student.user.nom }}</td>
        <td>{{ student.user.prenom }}</td>
        <td>{{ student.sexe }}</td>
        <td>{{ student.classe?.nom }}</td>
        <td>
          <button (click)="editStudent(student, i)">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button (click)="deleteStudent(student.id!)">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination" *ngIf="totalPages > 1">
    <button
      (click)="changePage(currentPage - 1)"
      [disabled]="currentPage === 1"
    >
      Précédent
    </button>

    <button
      *ngFor="let page of [].constructor(totalPages); let i = index"
      [class.active]="currentPage === i + 1"
      (click)="changePage(i + 1)"
    >
      {{ i + 1 }}
    </button>

    <button
      (click)="changePage(currentPage + 1)"
      [disabled]="currentPage === totalPages"
    >
      Suivant
    </button>
  </div>
</div>

<!-- MODAL -->
<div class="modal-overlay" *ngIf="showModal">
  <div class="modal">
    <h3>
      {{
        editMode ? "Modification d’un élève" : "Inscription d’un nouvel élève"
      }}
    </h3>

    <form [formGroup]="studentForm" (ngSubmit)="submitForm()">
      <div class="row">
        <div class="col">
          <input type="text" formControlName="nom" placeholder="Nom" />
          <div
            *ngIf="
              studentForm.get('nom')?.touched && studentForm.get('nom')?.invalid
            "
            class="error"
          >
            Nom requis.
          </div>
        </div>

        <div class="col">
          <input type="text" formControlName="prenom" placeholder="Prénom" />
          <div
            *ngIf="
              studentForm.get('prenom')?.touched &&
              studentForm.get('prenom')?.invalid
            "
            class="error"
          >
            Prénom requis.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <input
            type="date"
            formControlName="date_naissance"
            placeholder="Date de naissance"
          />
          <div
            *ngIf="
              studentForm.get('date_naissance')?.touched &&
              studentForm.get('date_naissance')?.invalid
            "
            class="error"
          >
            Date de naissance requise.
          </div>
        </div>
        <div class="col">
          <input
            type="text"
            formControlName="lieu_naissance"
            placeholder="Lieu de naissance"
          />
          <div
            *ngIf="
              studentForm.get('lieu_naissance')?.touched &&
              studentForm.get('lieu_naissance')?.invalid
            "
            class="error"
          >
            Lieu de naissance requis.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <select name="sexe" formControlName="sexe">
            <option value="default">Sexe</option>
            <option value="M">Masculin</option>
            <option value="F">Féminin</option>
          </select>
          <div
            *ngIf="
              studentForm.get('sexe')?.touched &&
              studentForm.get('sexe')?.invalid
            "
            class="error"
          >
            Sexe requise.
          </div>
        </div>
        <div class="col">
          <select name="classe_id" formControlName="classe_id">
            <option value="default">Classe</option>
            <option *ngFor="let c of classes" value="{{c.id}}">{{ c.nom }}</option>
          </select>
          <div
            *ngIf="
              studentForm.get('classe_id')?.touched &&
              studentForm.get('classe_id')?.invalid
            "
            class="error"
          >
            Classe requise.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <input type="text" formControlName="adresse" placeholder="Adresse" />
          <div
            *ngIf="
              studentForm.get('adresse')?.touched && studentForm.get('adresse')?.invalid
            "
            class="error"
          >
            Adresse requis.
          </div>
        </div>
        <div class="col">
          <input type="tel" formControlName="telephone" placeholder="Numéro de téléphone" />
          <div
            *ngIf="
              studentForm.get('telephone')?.touched && studentForm.get('telephone')?.invalid
            "
            class="error"
          >
            Telephone requis.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <input type="text" formControlName="nom_tuteur" placeholder="Nom du tuteur" />
          <div
            *ngIf="
              studentForm.get('nom_tuteur')?.touched && studentForm.get('nom_tuteur')?.invalid
            "
            class="error"
          >
            Nom tuteur requis.
          </div>
        </div>
        <div class="col">
          <input type="tel" formControlName="telephone_tuteur" placeholder="Numéro de téléphone du tuteur" />
          <div
            *ngIf="
              studentForm.get('telephone_tuteur')?.touched && studentForm.get('telephone_tuteur')?.invalid
            "
            class="error"
          >
            Telephone tuteur requis.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <input type="email" formControlName="email" placeholder="Email élève" />
          <div
            *ngIf="
              studentForm.get('email')?.touched && studentForm.get('email')?.invalid
            "
            class="error"
          >
            Email requis.
          </div>
        </div>
        <div class="col">
          <input type="email" formControlName="email_tuteur" placeholder="Email du tuteur" />
          <div
            *ngIf="
              studentForm.get('email_tuteur')?.touched && studentForm.get('email_tuteur')?.invalid
            "
            class="error"
          >
            Email tuteur requis.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="document_justificatif">Document de justificatif</label>
          <input type="file"  name="document_justificatif" formControlName="document_justificatif" id="document_justificatif" (change)="onFileSelected($event)">
        </div>
      </div>
      <div class="modal-actions">
        <button type="button" class="cancel-btn" (click)="closeModal()">
          Annuler
        </button>
        <button type="submit">Enregistrer</button>
      </div>
    </form>
  </div>
</div>

<app-custom-toast *ngIf="showToast" [type]="typeToast" [message]="toastMessage"  />
