
    <!-- Login form -->
    <form [formGroup]="loginForm" id="Login">
      <!-- Left section of the form -->
      <div class="left">
        <div>
          <!-- Welcome message and registration link -->
          <p>Hello, Welcome!</p>
          <a href="">Don't have an account? </a>
          
        </div>
      </div>

      <!-- Right section of the form -->
      <div class="right">
        <div>
          <!-- Login heading -->
          <h1>Login</h1>

          <!-- Username input field -->
          <input type="text" name="email" id="" placeholder="Username" formControlName="email"/>

          <!-- Password input field -->
          <input type="password" name="password" id="" placeholder="Password" formControlName="password" />

          @if (hasError) {
            <div class="error-message" >{{errorMessage}}</div>
          }
          
          <!-- Forgot password link -->
          <a href="">Forgot Password?</a>

          <!-- Login button -->
          <button type="submit" (click)="onSubmit()">Login</button>
          <a [routerLink]="['/home']" class="router-link-active" routerLinkActive="router-link-active">Retour à l'accueil</a>
          <!-- Social login options -->
          
        </div>
      </div>
      
    </form>
