<nav>
  <p id="logo">PORTAIL SCOLAIRE</p>
  <!-- <ul class="links">
    <li>Accueil</li>
    <li>About</li>
  </ul> -->
  <button routerLink="/login">Se Connecter</button>
</nav>
<div class="main">
  <div class="txt">
    <h2>Bienvenue sur Educator </h2>
    <p>A brilliant, modular agency template for startup's build yours today. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quia esse nihil.</p>
    <div class="buttons">
      <button class="button" id="btn1" routerLink="/login" >Se Connecter</button>
    </div>
  </div>
  <div class="pictures">
    <div class="img" id="img1"></div>
    <div class="img" id="img2"></div>
    <div class="img" id="img3"></div>
  </div>
  <div class="brands">
    <small>
      <img src="assets/icons/calculate.svg" alt="google"> <b>Mathematiques</b>
    </small>
    <small>
      <img src="assets/icons/electric.svg" alt="slack"> <b>Physique</b>
    </small>
    <small>
      <img src="assets/icons/experiment.svg" alt="Agworld"> <b>Chimie</b>
    </small>
    <small>
      <img src="assets/icons/language.svg" alt="riotinto"> <b>Langues</b>
    </small>
    <small>
      <img src="assets/icons/biotech.svg" alt="heroku"> <b>SVT</b>
    </small>
  </div>
</div>