/* dashboard.component.css */
.dashboard-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.main-content {
  flex: 1;
  padding: 2rem;
  background-color: #5aa0e618;
}

.main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}
